
body {
	width: 100%;
	margin: -21px 0 auto;
	background: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #8A8985;
}

/* Menu */

.content {
	background-color: #9F020D;
	width: 100%;
}

#menu-wrapper {
	overflow: visible;
	height: 32px;
	background: #888888;
}

#menu {
	height: 32px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

.rightitem {
	display: inline-block;
	float:left;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 32px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 30;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	background: #325A49;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}



/* header */

#header{
	width: 100%;
	background:#CE1719;
}
#header-content{
	width: 80%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
.header-right {
	width: 180px;
	float:right;
	background-color:#0C3;
	margin-top:12px;
	font-size:14px;
	color:#FFF;
}

.bigger {
	font-family:Verdana, Geneva, sans-serif;
	font-size:50px;
	color:#FFF;
}


/* google-map */

#map_canvas { 
	width: 100%;
/*	height: 525px;
*/}

.end {
	float: right;
	background-color: #DEB742;
}

.hidden {
	display:none;
	width: 100px;
	height: 200px;
}

.hidden1 {
	display:none;
}

#innerformulario {
	padding:20px;
}

